[submodule "C++/Multiplayer/Step 5 - Weapons/ThirdParty/SFML"]
	path = C++/Multiplayer/Step 5 - Weapons/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "C++/Multiplayer/Step 5 - Weapons/ThirdParty/ctti"]
	path = C++/Multiplayer/Step 5 - Weapons/ThirdParty/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
[submodule "C++/Multiplayer/Step 4 - Entity Prediction/ThirdParty/SFML"]
	path = C++/Multiplayer/Step 4 - Entity Prediction/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "C++/Multiplayer/Step 4 - Entity Prediction/ThirdParty/ctti"]
	path = C++/Multiplayer/Step 4 - Entity Prediction/ThirdParty/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
[submodule "C++/Multiplayer/Step 3 - Entity Interpolation/ThirdParty/SFML"]
	path = C++/Multiplayer/Step 3 - Entity Interpolation/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "C++/Multiplayer/Step 3 - Entity Interpolation/ThirdParty/ctti"]
	path = C++/Multiplayer/Step 3 - Entity Interpolation/ThirdParty/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
[submodule "C++/Multiplayer/Step 2 - Client Prediction/ThirdParty/SFML"]
	path = C++/Multiplayer/Step 2 - Client Prediction/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "C++/Multiplayer/Step 2 - Client Prediction/ThirdParty/ctti"]
	path = C++/Multiplayer/Step 2 - Client Prediction/ThirdParty/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
[submodule "C++/Multiplayer/Step 1 - Basic/ThirdParty/SFML"]
	path = C++/Multiplayer/Step 1 - Basic/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "C++/Multiplayer/Step 1 - Basic/ThirdParty/ctti"]
	path = C++/Multiplayer/Step 1 - Basic/ThirdParty/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
[submodule "C++/Multiplayer/Step 0 - ECS/ThirdParty/SFML"]
	path = C++/Multiplayer/Step 0 - ECS/ThirdParty/SFML
	url = https://github.com/SFML/SFML.git
	branch = 2.5.x
[submodule "C++/Multiplayer/Step 0 - ECS/ThirdParty/ctti"]
	path = C++/Multiplayer/Step 0 - ECS/ThirdParty/ctti
	url = https://github.com/Manu343726/ctti.git
	branch = master
