body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /* Disable scrollbars */
    display: block; /* No floating content on sides */
    background-color: black;
}

#canvas-main {
    position: absolute;
    width: 100%;
    height: 100%;
}
